.cookie
  .cookie-description
    p Wir verwenden Cookies, um Ihnen die beste Erfahrung auf unserer Website zu ermöglichen. Indem Sie auf „Zustimmen“ klicken, stimmen Sie der Verwendung von Cookies zu.

  .cookie-action
    a(href="#").btn.primary.close Zustimmen
    a(href="datenschutz.html").btn.secondary Datenschutz
