.cookie
  .cookie-description
    p We use cookies to give you the best experience on our website. By clicking “Ok”, you consent to the use of cookies.

  .cookie-action
    a(href="#").btn.primary.close Ok
    a(href="datenschutz.html").btn.secondary Privacy Policy
